* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#body-page {
    background-image: url("images/frut.png");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    text-indent: 25px;
}

.main {
    width: 780px;
    margin: auto;
    font-size: 0.875em;
    line-height: 1.7em;
}

/***************** header ****************/

.top-bg {
    width: auto;
    height: auto;
    background-color: black;
}

.top-raw {
    width: auto;
    height: 210px;
}

.top-text {
    display: flex;
    color: white;
}

.top-text h1 {
    display: inline-block;
    text-transform: uppercase;
    margin: 100px 0 0 100px;
}

.logo {
    width: 190px;
    height: 190px;
    margin-left: 50px;
    border-radius: 50%;
}

.login {
    text-align: right;
    padding: 20px;
}

button {
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 1.2em;
    color: rgb(245, 245, 245);
    text-decoration: none;
    margin: 5px 0 0 0;
    padding: 0 13px;
    border-radius: 3px;
    background: rgba(42, 150, 156, 0.6) linear-gradient(#82d18d, rgba(47, 139, 156, 0.6));
    box-shadow: inset rgba(71, 209, 222, 0.61) 0 -1px 1px, inset 0 1px 1px #98ff98, rgba(54, 119, 170, 0.6) 0 0 0 1px, rgba(0, 0, 0, .3) 0 2px 5px;
    cursor: pointer;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.form-container {
    padding: 16px;
}

.form-container input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.51);
    padding-top: 60px;
}

.form-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 350px;
    height: auto;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/**************** menu *************/

.menu-row {
    width: auto;
    height: 70px;
    margin-bottom: 5px;
    background-color: #e8ead9;
}

nav {
    text-align: center;
}

.menu a {
    display: inline-block;
    margin: 10px 1px 0 1px;
}

a.button {
    width: 150px;
    height: 38px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(253, 246, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
    text-decoration: none;
    border-radius: 15px;
    background: rgb(10, 147, 10);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .8),
    inset rgba(0, 0, 0, .3) -3px -3px 6px 3px,
    inset rgba(255, 255, 255, .5) 2px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, .1),
    -2px -2px 5px rgba(0, 0, 0, .5);
    transition: .2s;
}

a.button:hover {
    color: rgba(0, 0, 0, 0.75);
    background: rgba(20, 130, 20, 0.75);
}

/************** main ***************/

.inner-content {
    display: inline-block;
    width: auto;
    height: 450px;
    margin: 0;
    font-size: 1.2em;
    line-height: 30px;
    background: rgba(249, 251, 234, 0.82);
}

.inner-content p {
    margin: 0 20px 0 0;
    text-align: justify;
}

.inner-box {
    display: inline-block;
    width: 450px;
    height: 1591px;
    margin: 0 -2px 0 0;
    overflow: hidden;
    text-align: justify;
    line-height: 1.7em;
    background: rgba(249, 251, 234, 0.82);
}

.burger-img {
    float: left;
    width: 470px;
    height: 400px;
    margin: 25px 20px 30px 20px;
    border-radius: 10px;
}

.beaf-img {
    float: right;
    width: 290px;
    height: 340px;
    margin: 80px 20px 0 0;
    border-radius: 10px;
}

.resipes-img {
    float: left;
    width: 240px;
    height: 260px;
    margin: 0 15px 0 0;
    border-radius: 10px;
}

.candys-img {
    width: 410px;
    height: 345px;
    margin: 20px;
    border-radius: 10px;
}

.title {
    position: relative;
    text-align: center;
    margin-top: 10px;
    color: #d62705;
    font-style: italic;
    font-weight: bold;
}

.title span {
    display: inline-block;
    line-height: 2em;
    font-style: normal;
    color: #242424;
}

a.title:hover {
    cursor: pointer;
    border-bottom: 2px solid #d62705;;
}

.link-button {
    position: relative;
    display: inline-block;
    font-size: 1.3em;
    margin: 15px 0 0 0;
    font-weight: 700;
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, .3) 0 2px 5px;
}

.link-button:hover {
    color: #000000;
    cursor: pointer;
    background: rgba(20, 130, 20, 0.9);
}

.article-colum {
    display: inline-block;
    width: 236.8px;
    height: auto;
    margin: 0 0 0 20px;
    text-align: justify;
}

.greeting {
    float: left;
    display: block;
    width: 450px;
    height: 450px;
    margin: 0 0 0 20px;
    text-align: justify;
}

.wrap-list {
    height: auto;
    margin: 10px 0 0 15px;
}

.wrap-list ul {
    margin: 0;
    list-style: none;
    padding: 5px 0 0 20px;
}

.content {
    display: inline-block;
    width: 410px;
    height: auto;
    margin: 20px 20px 15px 20px;
    font-size: 15px;
}

.toggle li {
    list-style-type: circle;
}

.content h3 {
    margin: 0 0 20px 0;
}

.right-box {
    display: inline-block;
    width: 330px;
    height: 1591px;
    margin: 0 0 0 -2px;
    overflow: hidden;
    font-size: 1.03em;
    background: rgba(249, 251, 234, 0.82);
}

.right-bar {

    width: 300px;
    height: 1499px;
    position: relative;
    padding: 21px 13px;
    font-size: 1.1em;
    font-style: italic;
}

.quote-button {
    width: 150px;
    margin-left: 85px ;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245, 245, 245);
    text-decoration: none;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, .3) 0 2px 5px;
}


.quote-button:hover {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    background: rgba(20, 130, 20, 0.75);
}

blockquote {
    margin: 15px 5px 8px 5px;
    text-indent: 15px;
    text-align: justify;
    border: 3px solid rgba(37, 251, 1, 0.11);;
    border-radius: 10px;
    background: rgba(37, 251, 1, 0.11);
}

.signature {
    text-align: right;
    font-weight: bold;
    color: #d62705;
    padding: 5px 15px 0 0;
}

.container {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: justify;
    background: rgba(249, 251, 234, 0.82);
}

.wrapper {
    height: 260px;
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 28px;
}

.wrapper h2 {
    margin: 12px 0 25px 0;
}

/****************form********************/

.form-box {
    display: inline-block;
    width: 495px;
    height: 750px;
    margin: 0 -2px 0 0;
    overflow: hidden;
    text-align: justify;
    background: rgba(249, 251, 234, 0.82);
}

.wrap-form {
    position: relative;
    width: 485px;
    height: 563px;
    margin: 55px 10px;
    border-radius: 8px;
}

.wrap-form h2 {
    text-align: center;
    width: 430px;
    margin: 20px 5px 0 25px;
    color: rgba(0, 0, 0, 0.78);
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.wrap-form-element {
    width: 440px;
    height: 210px;
    padding: 15px 0 0 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    margin: 5px 0 0 10px;
}

.wrap-form-element h4 {
    margin: 15px 0 0 0;
}

.wrap-form-element sup, .wrap-message sup {
    color: red;
}

.form-element {
    display: inline-block;
    height: 25px;
    width: 200px;
    background: rgba(253, 246, 255, 0.51);
}

.choice {
    width: 190px;
    display: inline-block;
    padding: 0 15px 0 0;
}

.wrap-message {
    position: relative;
    width: 440px;
    height: 300px;
    margin: 0 0 0 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-top: 0;
    border-radius: 0 0 10px 10px;
    padding: 15px 0 0 25px;
}

.wrap-message h4 {
    margin: 20px 0;
}

#message {
    display: inline-block;
    width: 400px;
    height: 150px;
}

.wrap-button {
    text-align: right;
    padding: 10px 30px;
}

.submit-button {
    width: 120px;
    height: 25px;
    margin-left: 10px;
    font-size: 1.1em;
    color: rgb(245, 245, 245);
    text-decoration: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, .3) 0 2px 5px;
}

.submit-button:hover {
    color: #000000;
    cursor: pointer;
}

.error input,
.error textarea {
    border: 1px solid red;
}

.error {
    color: rgba(255, 0, 0, 0.7);
    font-size: medium;
    font-weight: bold;
}

.contacts-bar {
    display: inline-block;
    width: 285px;
    height: 750px;
    margin: 0 0 0 -2px;
    overflow: hidden;
    font-size: 1.1em;
    line-height: 1.7em;
    background: rgba(249, 251, 234, 0.82);
}

.inner-contacts {
    height: 675px;
    padding: 90px 0 0 15px;
}

.inner-contacts h1 {
    text-align: center;
    font-weight: 800;
    padding-bottom: 15px;
}

.contacts {
    font-size: medium;
}

.contacts h3 {
    padding: 25px 0 10px 0;
}

/***************** footer ******************/

.btm-bg {
    width: auto;
    height: auto;
    background-color: black;
}

.footer-row {
    width: auto;
    height: 150px;
}

.footer-text {
    display: inline-block;
    width: 350px;
    padding: 60px 0 0 55px;
    font-size: large;
    line-height: 1.214em;
    color: #fff;
}

.footer-text strong {
    display: block;
    font-weight: normal;
}

.list-services {
    float: right;
    padding: 70px 50px 0 0;
    margin: 0;
    text-align: center;
}

.list-services li {
    display: inline-block;
    float: left;
    padding: 0 15px 0 0;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 2em;
    color: #fff;;
}

.list-services li:first-child {
    padding-right: 25px;
}

.list-services li a {
    display: block;
    width: 35px;
    height: 35px;
    background: url("images/social-icons.png");
}

.list-services li.item-1 a {
    background-position: -40px 0;
}

.list-services li.item-2 a {
    background-position: -80px 0;
}

.card {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 5px 0 10px;
    background-color: rgba(71, 209, 222, 0.16);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 70px;
    margin: auto;
    border: rgba(0, 0, 0, 0.37) solid;
    border-radius: 45%;
    background-color: rgba(0, 0, 255, 0.22);
}

.card p {
    text-align: justify;
    text-indent: initial;
    margin: 5px 10px;
    color: rgba(0, 0, 0, 0.7);
}

.card:hover {
    box-shadow: 1px 0 20px 1px rgba(71, 209, 222, 0.6);
    transition: 1s;
}

#comments-box {
    max-height: 1200px;
    overflow: auto;
    margin-top: 20px;
}

#comment-form {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    align-content: center;
    background-color: rgba(71, 209, 222, 0.16);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#comment-form button, #comment-form input, #comment-form label, #comment-form textarea {
    margin: 10px;
    border-radius: 10px;
}